@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 255px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-tops
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .newsletter
    &__section
      margin-top: 40px
  .reviews
    padding: 40px 0 60px 0
    &__title
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        padding: 0 62px 30px
        &:before, &::after
          display: none
    &-wrapper
      max-width: 580px
  .activities
    padding: 60px 0 70px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 48%
    height: 230px
  .footer
    &-wrapper
      grid-template-columns: repeat(20, 1fr )
      grid-row-gap: 40px
    &__logo
      grid-row: 1 / 2
      grid-column: span 5
    &__categories
      grid-row: 2 / 3
      grid-column: span 6
    &__legal
      grid-column: span 6
      grid-row: 2 / 3
    &__additional
      grid-row: 2 / 3
      grid-column: span 8
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 12
        align-self: center
    &__contact
      &-details
        grid-row: 3
        grid-column: span 20
      &-form
        grid-row: 4
        grid-column: span 18
    &__form
      margin-bottom: 16px
    &__input
      flex-basis: 48%
    &-information
      grid-column: 1 / 9
      justify-self: start
    &__payment
      grid-column: 15 / 21
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 89px
  .navbar
    &--mobile
      &__fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-top
      &__menu-button
        display: flex
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      border: none
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    &__title
      font-size: 30px
    &-slider
      &__item
        padding: 0 31px 36px
      &__button
        top: 45px
        &--prev
          margin-left: -100px
          left: 50%
          transform: translate(-50% 0)
        &--next
          right: 50%
          transform: translate(50% 0)
          margin-right: -100px
  .activities
    padding: 40px 0 60px 0
  .card
    width: 48%
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &__logo
      grid-column: span 6
    &__categories
      grid-column: span 7
    &__legal
      grid-column: span 6
    &__additional
      grid-column: span 7
    &__social
      &-network
        grid-column: span 14
@media (max-width: 576px)
  .container
    max-width: 92%
  .logo
    width: 99px
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .search
    &__input
      width: 95%
  .hotel
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .newsletter
    &__section
      margin-top: 20px
  .reviews
    padding: 40px 0 50px 0
    &__title
      font-size: 18px
  .activities
    &__title
      font-size: 18px
      margin-bottom: 36px
  .card
    width: 100%
  .footer
    padding-bottom: 0px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
      grid-column-gap: 0
    &__logo
      grid-row: 1
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-column: 1
      grid-row: 3
    &__additional
      grid-row: 4
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__icon
      &-wrapper
        min-width: 30px
    &__message
      width: 100%
    &__input
      flex-basis: 100%
    &__form
      margin-bottom: 0
    &__buttonarea
      flex-direction: column-reverse
      align-items: start
    &__button
      margin-top: 15px
    &-information
      justify-self: start
    &__payment
      grid-column: 1
      justify-self: start
      margin-top: -22px
@media ( max-width: 320px)
  .footer
    padding-top: 69px
    padding-bottom: 0px
    &__social
      &-network
        flex-wrap: wrap
    &__title
      &--inline
        margin: 0 43px 16px 0
    &__buttonarea
      grid-row: 9
      grid-column: 1
    &__form
      grid-row: 10
      grid-column: 1
    &-information
      justify-self: center
      &__ul
        justify-content: space-between
