@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .packages
    &-card
      width: 300px
      max-height: 498px
      &_large
        width: 626px
    &__description
      &-large
        padding: 24px 20px 27px 20px
    &-info
      &__room
        &_large
          margin-bottom: 28px
  .card
    width: 230px
    height: 255px
  .footer
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .button
    &:hover
      box-shadow: none
  .logo
    width: 132px
  .navbar
    &-top
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
        &:hover
          color: inherit
  .search
    &__input
      width: 340px
    &__button
      &:hover
        box-shadow: none
  .hotel
    padding-bottom: 30px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    padding: 27px 22px
    height: 210px
    width: 340px
  .map
    width: 340px
    height: 210px
  .packages
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(3, auto)
      grid-gap: 20px
    &__button
      &:hover
        box-shadow: none
    &-card
      width: 100%
      &_large
        max-height: 500px
        width: 100%
    &__description
      &-large
        height: 500px
  .newsletter
    &-section
      margin-top: 40px
  .subscribe
    &__button
      &:hover
        box-shadow: none
  .reviews
    padding: 40px 0 60px 0
    &__title
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        padding: 0 62px 30px
        &:before, &::after
          display: none
      &__button
        top: 45%
        &_prev
          transform: translateX(5%)
        &_next
          transform: translateX(-5%)
    &-wrapper
      max-width: 580px
  .activities
    padding: 60px 0 50px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    padding: 24px 110px 24px 26px
    width: 48%
    height: 255px
    &__button
      &:hover
        box-shadow: none
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(10, 1fr )
      grid-row-gap: 40px
      grid-column-gap: 10px
    &__categories
      grid-row: 2 / 3
      grid-column: span 3
    &__legal
      grid-column: span 3
      grid-row: 2 / 3
    &__additional
      margin-left: -10px
      grid-row: 2 / 3
      grid-column: span 4
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: 4 / 9
        align-self: center
        margin-left: -25px
    &__contact
      &-details
        margin-top: 18px
        grid-row: 3
        grid-column: span 10
      &-form
        grid-row: 4
        grid-column: span 8
    &__title
      &_legal
        margin-left: 3px
    &__ul
      &_legal
        margin-left: 3px
    &__link
      &:hover
        transform: none
    &__form
      width: 539px
      margin-bottom: 16px
    &__input
      &-group
        flex-basis: 48%
    &-information
      grid-column: 1 / 8
      justify-self: start
      grid-row: 5 / 6
      &__link
        &:hover
          text-decoration: none
    &__payment
      grid-column: 9 / 11
      grid-row: 5 / 6
    &__logo
      width: 95px
      height: 116px
      &:hover
        transform: none
    &__icon
      &:hover
        transform: none
  .link-block
    margin-top: 0
    grid-row: 1 / 2
    grid-column: span 2
  .email-link, .tel-link
    &:hover
      text-decoration: none
  @media (max-width: 768px)
  .container
    max-width: 700px
  .navbar
    &-menu
      justify-content: space-around
  .user
    &__avatar
      margin-left: 23px
  .hotel
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 5px
        margin-bottom: 0
  .newsletter
    &-section
      margin-top: 20px
  .reviews
    &__title
      font-size: 30px
    &-slider
      &__button
        top: 45%
        &_prev
          transform: translateX(5%)
        &_next
          transform: translate(5%)
@media (max-width: 740px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 89px
  .body_stop_scrolling
    overflow: hidden
  .navbar
    &_mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 72px
      padding-top: 30px
      &_visible
        display: block
    &-top
      &__menu-button
        display: flex
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      border: none
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &_light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .packages
    padding-top: 30px
    &__title
      font-weight: bold
      font-size: 24px
      line-height: 57px
      margin-bottom: 35px
    &-card
      width: 100%
      max-height: 498px
      &_large
        width: 100%
    &__description
      &-large
        padding: 24px 20px 20px 20px
  .newsletter
    &-section
      margin-top: 0
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    padding: 40px 0 50px 0
    &-slider
      &__item
        padding: 0 31px 36px
      &__button
        top: 30px
        &_prev
          margin-left: -100px
          left: 50%
          transform: translate(-50% 0)
        &_next
          right: 50%
          transform: translate(50% 0)
          margin-right: -100px
  .activities
    padding: 40px 0 60px 0
    &__title
      margin-bottom: 36px
  .card
    width: 48%
    padding: 24px 50px 24px 26px
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &__contact
      &-details
        margin-top: 0
      &-form
        width: 100%
        grid-column: span 10
    &__additional
      margin-left: 18px
    &__social
      &-network
        grid-column: 4 / 10
        margin-left: 0
    &__form
      width: 100%
    &-information
      grid-row: 5 / 6
    &__payment
      grid-row: 5 / 6
  .modal
    &__dialog
      padding: 30px 57px
      width: 400px
    &__close
      width: 14px
      height: 14px
      right: 13px
      top: 13px
    &__title
      font-size: 18px
    &__input
      font-size: 12px
    &__message
      font-size: 12px
  .link-block
    grid-column: span 2
@media (max-width: 640px)
  .packages
    &-wrapper
      grid-gap-row: 20px
      grid-gap-column: 10px
      justify-items: center
    &-card
      width: 100%
      max-height: 370px
      &_large
        width: 100%
    &__img
      height: 150px
    &__image
      max-height: 370px
    &__description
      height: 220px
      padding: 15px 22px
      &-large
        max-height: 370px
        padding: 40px 21px 65px 43px
    &__hotel-name
      font-size: 16px
      line-height: 16px
      margin-bottom: 14px
      &_large
        margin-bottom: 38px
    &-info
      &__room
        margin-bottom: 13px
        &_large
          margin-bottom: 25px
    &__buttonarea
      &_large
        margin-top: 20px
    &__button
      font-size: 12px
      line-height: 14px
      padding: 9px 20px
    &__hotel-description
      display: none
  .score
    &-items
      margin-bottom: 18px
@media (max-width: 576px)
  .container
    max-width: 92%
  .logo
    width: 99px
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .search
    &__input
      width: 95%
  .thanks
    padding-bottom: 30px
  .hotel
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
  .booking
    &__button
      padding: 13px 54px
  .packages
    &__title
      font-size: 18px
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, auto)
      grid-gap-row: 20px
    &-card
      width: 100%
      max-height: 350px
      &_large
        flex-wrap: nowrap
        grid-column: 1 / 2
        width: 100%
    &__img
      height: 250px
    &__image
      height: 250px
      width: 100%
      border-bottom-left-radius: 0px
      border-top-right-radius: 8px
    &__description
      height: 200px
      padding: 15px 33px
      &-large
        width: 100%
        height: 200px
        padding: 15px 33px
        border-bottom-left-radius: 8px
        border-top-right-radius: 0px
    &__hotel-name
      font-size: 16px
      line-height: 16px
      margin-bottom: 14px
    &-info
      &__room
        &_large
          margin-bottom: 13px
    &__buttonarea
      &_large
        margin-top: 0
  .score
    display: none
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
    &__strong
      font-size: 30px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding: 40px 0 50px 0
    &__title
      font-size: 18px
  .activities
    &__title
      font-size: 18px
      margin-bottom: 36px
  .card
    width: 100%
  .footer
    padding-bottom: 0px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
      grid-column-gap: 0
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-column: 1
      grid-row: 3
    &__additional
      grid-row: 4
      grid-column: 1
      margin-left: 0
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__icon
      &-wrapper
        min-width: 30px
    &__message
      width: 100%
    &__input
      &-group
        flex-basis: 100%
    &__form
      margin-bottom: 0
    &__buttonarea
      flex-direction: column-reverse
      align-items: start
    &__button
      margin-top: 15px
    &-information
      justify-self: start
      grid-row: 8 / 9
    &__payment
      grid-row: 9 / 10
      grid-column: 1
      justify-self: start
      margin-top: -22px
  .link-block
    grid-row: 1
    grid-column: 1
  .modal
    &__dialog
      padding: 20px 20px
      width: 310px
    &__close
      width: 13px
      height: 13px
      right: 13px
      top: 13px
    &__title
      font-size: 15px
    &__input
      font-size: 12px
    &__message
      font-size: 12px
    &__buttonarea
      flex-direction: column-reverse
      align-items: start
    &__button
      margin-top: 15px
    &__info
      font-style: normal
      font-weight: normal
      font-size: 10px
      line-height: 10px
@media ( max-width: 320px)
  .container
    max-width: 87%
  body
    padding-top: 70px
  .hotel
    padding-bottom: 0
    &-info
      padding-bottom: 32px
      &__name
        margin-top: 10px
    &-slider
      height: 179px
    &-right
      min-height: 400px
      &__description
        margin-bottom: 20px
  .stars
    margin-right: 16px
  .booking
    &__button
      padding: 13px 50px
  .map
    &__img
      height: 173px
  .newsletter
    padding: 50px 0px 77px 8px
    &__title
      margin-top: 25px
  .subscribe
    &__button
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
    &__input
      padding-left: 20px
  .reviews
    &__title
      line-height: 23px
      margin-bottom: 45px
    &-slider
      &__button_prev
        margin-left: -110px
      &__text
        text-align: left
  .activities
    padding: 36px 0 40px 0
    &__card
      &_first
        order: -1
      &_second
        order: 2
      &_third
        order: 3
        margin-top: 8px
      &_forth
        order: 4
    &__title
      margin-bottom: 33px
  .footer
    padding-top: 65px
    padding-bottom: 0px
    &__social
      &-network
        margin-top: 5px
        margin-bottom: 4px
        flex-wrap: wrap
        margin-right: 50px
    &__title
      &-contact
        margin-top: 15px
      &_inline
        margin: 0 43px 16px 0
      &-form
        margin-bottom: 16px
    &__item
      &_mb_15
        margin-bottom: 25px
      &_mb_20
        margin-bottom: 25px
    &__buttonarea
      grid-row: 9
      grid-column: 1
    &__form
      grid-row: 10
      grid-column: 1
    &__message
      margin-bottom: 15px
    &-information
      justify-self: center
      &__ul
        justify-content: space-between
  .modal
    &__dialog
      padding: 10px 10px
      width: 85%
    &__input
      font-size: 10px
      line-height: 10px
      min-height: calc(2px + 1vh)
    &__message
      min-height: calc(2px + 1vh)
      font-size: 10px
      line-height: 10px
    &__title
      margin-bottom: calc(2px + 1vh)
@media (max-height: 540px)
  // .navbar
  //   line-height: 1.0
  //   &-bottom
  //     padding-top: 0
  //   &-menu
  //     padding-top: 12px
  //     &__item
  //       margin-bottom: 10px
  //       font-size: 10px
  //   &__search
  //     height: 30px
  // .user
  //   &__name
  //     &_light
  //       margin-top: 2px
  //   &__avatar
  //     margin-left: 0
  .modal
    &__dialog
      padding: 13px 30px
    &__title
      font-size: 14px
      margin-bottom: 3px
      margin-top: -5px
    &__message
      line-height: 15px
      padding: 18px 18px
      min-height: 60px
      margin-top: 10px
    &__buttonarea
      margin-top: 10px
    &__button
      min-height: 38px
      padding: 0
    &__input
      height: 38px
      margin-top: 10px
  .invalid
    font-style: normal
    font-weight: normal
    font-size: 12px
    margin-bottom: -3px
@media (max-height: 390px)
  .navbar
    line-height: 1.0
    &-bottom
      padding-top: 0
    &-menu
      padding-top: 10px
      &__item
        margin-bottom: 5px
        font-size: 10px
    &__search
      height: 30px
  .user
    &__name
      &_light
        margin-top: 2px
        font-size: 10px
    &__avatar
      margin-left: 0
  .modal
    &__dialog
      padding: 8px 15px
      width: 310px
    &__title
      font-size: 10px
      margin-bottom: 0px
      margin-top: -5px
    &__close
      width: 8px
      height: 8px
      right: 8px
      top: 4px
    &__message
      line-height: 12px
      margin-top: 6px
      font-size: 8px
      min-height: 40px
    &__buttonarea
      margin-top: 6px
    &__button
      min-height: 20px
      padding: 0
      margin-top: 6px
      min-width: 100px
    &__input
      line-height: 12px
      min-height: 20px
      margin-top: 6px
      font-size: 8px
  .modal__form label
    color: $primary
    font-style: normal
    font-weight: normal
    font-size: 8px
    line-height: 6px
    margin-bottom: 4px
